---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img and page.hide-cover != true %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <p class="back-link"><a href="{{site.baseurl}}/">&larr; All posts</a></p>
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}" title="Share on X" rel="noopener nofollow" target="_blank">X</a>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" title="Share on LinkedIn" rel="noopener nofollow" target="_blank">LinkedIn</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags/#{{tag | cgi_escape}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      <nav class="post-nav" aria-label="Previous and next post">
        {% if page.previous %}
        <a class="post-nav-prev" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&larr; Older</span>{{ page.previous.title }}</a>
        {% else %}<span></span>{% endif %}
        {% if page.next %}
        <a class="post-nav-next" href="{{ page.next.url | prepend: site.baseurl }}"><span>Newer &rarr;</span>{{ page.next.title }}</a>
        {% endif %}
      </nav>
      <p class="back-link"><a href="{{site.baseurl}}/">&larr; All posts</a></p>
      {% if site.discus-identifier %}{% include disqus.html %}{% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
